.sound-wave-container {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  height: 50px; /* Altura total do componente de ondas sonoras */
  width: 100px; /* Largura do componente de ondas sonoras */
}

.sound-wave-bar {
  background-color: #fff;
  width: 15%; /* Largura de cada barra */
  transition: height 0.1s ease;
  border-radius: 2px;
}

@keyframes wave-movement {
  0% {
    transform: scaleY(1); /* Tamanho original */
  }
  50% {
    transform: scaleY(1.5); /* Aumenta tamanho vertical */
  }
  100% {
    transform: scaleY(1); /* Volta ao tamanho original */
  }
}
